@import '~react-toastify/dist/ReactToastify.css';

$font-text: 'Catamaran', sans-serif;
$font-icons: 'Material Design Icons';
$color-background: #ffffff;
$color-font: #333333;

// Toast schemes.
$schemes: (
    default: (
        background-color: $color-background,
        font-color: $color-font,
        color: #00b2a9,
    ),
    info: (
        background-color: $color-background,
        font-color: $color-font,
        color: #0074f1,
        icon: '\F02FD',
    ),
    success: (
        background-color: $color-background,
        font-color: $color-font,
        color: #4caf50,
        icon: '\F0134',
    ),
    warning: (
        background-color: $color-background,
        font-color: $color-font,
        color: #fea900,
        icon: '\F05D6',
    ),
    error: (
        background-color: $color-background,
        font-color: $color-font,
        color: #e62a3b,
        icon: '\F015A',
    ),
    uploading: (
        background-color: $color-background,
        font-color: $color-font,
        color: #4caf50,
        icon: '\F0998',
    ),
    downloading: (
        background-color: $color-background,
        font-color: $color-font,
        color: #fea900,
        icon: '\F0997',
    ),
    save-success: (
        background-color: $color-background,
        font-color: $color-font,
        color: #4caf50,
        icon: '\F0818',
    ),
    save-warning: (
        background-color: $color-background,
        font-color: $color-font,
        color: #fea900,
        icon: '\F0818',
    ),
    save-error: (
        background-color: $color-background,
        font-color: $color-font,
        color: #e62a3b,
        icon: '\F0818',
    ),
    send-success: (
        background-color: $color-background,
        font-color: $color-font,
        color: #4caf50,
        icon: '\F0DF9',
    ),
    send-warning: (
        background-color: $color-background,
        font-color: $color-font,
        color: #fea900,
        icon: '\F0DF9',
    ),
    send-error: (
        background-color: $color-background,
        font-color: $color-font,
        color: #e62a3b,
        icon: '\F0DF9',
    ),
    key-success: (
        background-color: $color-background,
        font-color: $color-font,
        color: #4caf50,
        icon: '\F0BC5',
    ),
    key-warning: (
        background-color: $color-background,
        font-color: $color-font,
        color: #fea900,
        icon: '\F0BC5',
    ),
    key-error: (
        background-color: $color-background,
        font-color: $color-font,
        color: #e62a3b,
        icon: '\F0BC5',
    ),
    security-success: (
        background-color: $color-background,
        font-color: $color-font,
        color: #4caf50,
        icon: '\F0CC8',
    ),
    security-warning: (
        background-color: $color-background,
        font-color: $color-font,
        color: #fea900,
        icon: '\F0ECD',
    ),
    security-error: (
        background-color: $color-background,
        font-color: $color-font,
        color: #e62a3b,
        icon: '\F0ADD',
    ),
    notification-success: (
        background-color: $color-background,
        font-color: $color-font,
        color: #4caf50,
        icon: '\F0D5B',
    ),
    notification-warning: (
        background-color: $color-background,
        font-color: $color-font,
        color: #fea900,
        icon: '\F0D5B',
    ),
    notification-error: (
        background-color: $color-background,
        font-color: $color-font,
        color: #e62a3b,
        icon: '\F0D5B',
    ),
    form-error: (
        background-color: $color-background,
        font-color: $color-font,
        color: #e62a3b,
        icon: '\F1037',
    ),
    smiley-happy: (
        background-color: $color-background,
        font-color: $color-font,
        color: #007a33,
        icon: '\F01F5',
    ),
    smiley-neutral: (
        background-color: $color-background,
        font-color: $color-font,
        color: #87adbd,
        icon: '\F01F6',
    ),
    smiley-sad: (
        background-color: $color-background,
        font-color: $color-font,
        color: #e62a3b,
        icon: '\F01F8',
    ),
    smiley-wink: (
        background-color: $color-background,
        font-color: $color-font,
        color: #0074f1,
        icon: '\F0C79',
    ),
    smiley-confused: (
        background-color: $color-background,
        font-color: $color-font,
        color: tomato,
        icon: '\F10DF',
    ),
);

.Toastify__toast-container {
    z-index: 1000;
}

.Toastify__toast {
    font-family: $font-text;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1), 0 0 12px rgba(3, 45, 68, .1);
    cursor: pointer;
}

.toastify-body {
    padding: 0 .6em;
}

i.close.toastify-close-icon {
    display: inline-block;
    width: .9em;
    height: .9em;
    margin: 0;
    margin-top: -.2em;
    color: #bdbdbd;
    font-size: .9em;
    font-style: normal;
    text-align: center;
    text-decoration: inherit;
    transition: .4s ease;

    &:before {
        font-family: $font-icons;
        content: '\F0159'; // mdi-close-circle
    }

    &:hover {
        color: #00b2a9;
    }
}

.toastify-container {
    @each $scheme, $attr in $schemes {
        &.#{$scheme} {
            color: map-get($attr, 'font-color');
            background-color: map-get($attr, 'background-color');

            @if map-get($attr, 'icon') {
                .toastify-body {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    margin-left: 2.8em;
                    text-align: left;

                    &:before {
                        position: absolute;
                        left: 12px;
                        color: map-get($attr, 'color');
                        font-size: 2.4em;
                        font-family: $font-icons;
                        content: map-get($attr, 'icon');
                    }
                }
            }

            i.close.toastify-close-icon {
                &:hover {
                    color: map-get($attr, 'color');
                }
            }

            div.Toastify__progress-bar {
                background: none;
                background-color: map-get($attr, 'color');
            }
        }
    }
}
